:root {
    --primary-color: var(--color-gold);
    --text-color: var(--color-black);
}

.markdown {
    color: var(--primary-color);

    > * {
        margin: spacer(4) 0 0;
        color: var(--text-color);

        &:first-child {
            margin: 0;
        }
    }

    img {
        width: percentage(1);
        display: block;
    }

    hr {
        border-top: 1px solid var(--color-dark-10);
    }

    ul,
    ol {
        color: var(--text-color);
        padding: 0 0 0 20px;
    }

    pre {
        border: 1px solid var(--color-dark-20);
        background: var(--color-dark-8);
        padding: spacer(4);
    }

    code {
        font-size: prem(13);
        line-height: prem(13);
    }

    blockquote {
        color: currentColor;
        border-left: spacer() solid currentColor;
        padding: spacer(2) 0 spacer(2) spacer(4);
    }
}
