{% extends '@BaseTheme/base.html.twig' %}

{% block body_attributes %}class="error error-404" id="error-404"{% endblock %}

{% block content %}
<article class="page-content" id="page-content-404"
         data-title="{{ nodeSource.title }}">
    <h1>{% trans %}error404.title{% endtrans %}</h1>
    <h2>{% trans %}error404.message{% endtrans %}</h2>
    {% if head.devMode %}{{ errorMessage }}{% endif %}
</article>
{% endblock %}
