{% extends "@BaseTheme/blocks/base.html.twig" %}

{% block innerContent %}
    <div class="container">
        <p class="form-message"></p>
        {{ nodeSource|render('BaseTheme') }}
    </div>
{% endblock %}
