{
    "extends": ["standard"],
    "rules": {
        // enable additional rules
        "indent": [
            "warn",
            4
        ]
    },
    "globals" : {
        "DEVELOPMENT": false,
        "PRODUCTION": false,
        "ENVIRONMENT": false
    }
}
