{
    "parser": "babel-eslint",
    "extends": ["standard"],
    "rules": {
        // enable additional rules
        "indent": [
            "warn",
            4
        ]
        // Allow using semicolon at lines ends
        //"semi": 0
    },
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "globals" : {
        "DEVELOPMENT": false,
        "PRODUCTION": false,
        "ENVIRONMENT": false
    }
}
