<style>
    .dev-blueprints {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: none;
        opacity: 0.5;
        pointer-events: none;
    }

    .dev-blueprints.visible {
        display: block;
    }
</style>

<div id="dev-blueprints" class="dev-blueprints">
    {# Add here Layout image to overlap your dev elements #}
{#    <img src="{{ asset('img/blueprints/News@1x.jpg', 'BaseTheme') }}" alt="">#}
{#    <img src="{{ asset('img/blueprints/mobile-nav-open.jpg', 'BaseTheme') }}" alt="">#}
{#    <img src="{{ asset('img/blueprints/mobile-homepage.jpg', 'BaseTheme') }}" alt="">#}
{#    <img src="{{ asset('img/blueprints/blueprint-mobile.jpg', 'BaseTheme') }}" alt="">#}
</div>
