/*
 * Styles for all pages
 */

::selection {
    background-color: $black;
    color: $white;
}

body {
    font: normal 14px/16px $font;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

button {
    background: none;
    border: 0;
    outline: none;
}

#svg-sprite {
    display: none;
}

#main-container {
    position: relative;
    margin-top: $nav-height;
}

@include media-breakpoint-up(sm) {
    #main-container {
        position: relative;
        margin-top: $nav-height;
    }
}

// Table cell
.table {
    position: relative;
    display: table;
    width: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
