@mixin keep-image-aspect(){
    image-rendering: optimizeSpeed;
    image-rendering: pixellated;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode:nearest-neighbor;
}

@mixin var($property, $varName, $mode: "") {
    #{$property}: map-get($vars, $varName) #{$mode};
    #{$property}: var(--#{$varName}) #{$mode};
}
