/*------------------------------------*\
   STYLE ALTERNATIVE
\*------------------------------------*/

/*
 * Styles for old browsers, mobile, no-js, etc.
 */

// --- 404 --- //
#error-404{

}

// --- Maintenance --- //
#maintenance{

}

// --- Old browsers --- //
.lt-ie9{

}

.ie-browser {

}

.ie8 {

}

// --- Mobile --- //
.is-mobile{

}

// --- No Js --- //
#no-js-message {
    position: fixed;
    z-index: 50;
    top:0;
    right:0;
    left:0;
    padding: 8px 50px;
    font-size: 16px;
    line-height: 19px;
    background: #fff;
    color: #000;
}
