/*
 * Common vars (fonts, colors, etc.)
 */

// Nav
//$nav-height: 55px;

// Fonts
$font: 'font', Helvetica, Arial, sans-serif;

// For CSS Variables
$vars: (
    // Colors
    white: #fff,
    black: #101010,
    main-color: #ff00,
    // General
    nav-height: 55px,
);
