/*
 * Common vars (fonts, colors, etc.)
 */

// Navbar
$navbar-height: 56px;
$nav-height: 56px;

// Fonts
$font: 'font', Helvetica, Arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$mainColor: #ff0000;
