# This route is required!
homePage:
    path:     /
    defaults: { _controller: Themes\BaseTheme\BaseThemeApp::homeAction }
homePageLocale:
    path:     /{_locale}
    defaults:
        _controller: Themes\BaseTheme\BaseThemeApp::homeAction
        _locale: fr
    requirements:
        # Use every 2 letter codes (quick and dirty)
        _locale: "[a-z]{2}"

# Add a dynamic CSS path if you want to
# customize styles from back-office.
#CssDynamicStyles:
#    path:     /css/dynamic-styles.css
#    defaults: { _controller: Themes\BaseTheme\Controllers\CssController::stylesAction }

sitemap:
    path: /sitemap.xml
    defaults: { _controller: Themes\BaseTheme\Controllers\SitemapController::sitemapAction }

defaultRemoveTrailingSlash:
    path: /{url}
    defaults: { _controller: Themes\BaseTheme\BaseThemeApp::removeTrailingSlashAction }
    requirements:
        url: .*/$
    methods: [GET]
