* {
    @include reset;
}

strong,
b {
    font-weight: 600;
}

h1 {
    margin: 0;
}

body {
    color: var(--color-dark);
}

button,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    color: var(--color-dark);
    font-family: var(--font-custom);
}

button {
    cursor: pointer;
}
