/*------------------------------------*\
   COOKIES CHOICES
\*------------------------------------*/


/*
 * Styles for cookies choices bar
 */

#cookieChoiceInfo {
    padding: 12px 10px 9px !important;
    top: auto !important;
    bottom: 0px;
    line-height: 18px;

    a {
        color: @color;
        display: inline-block;
        border-bottom: 1px dashed #999999;

        &:hover {
            border-bottom: none;
        }
    }
    #cookieChoiceDismiss {
        font-weight: bolder;
    }
}