/*------------------------------------*\
   COOKIES CONSENT
\*------------------------------------*/


/*
 * Styles for cookies consent bar
 */

#cookiesconsent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .cc-window {
        text-align: center;
        font-family: $font;
        padding: 20px 30px;
        opacity: 0.9;
        color: #434343;
        background: #fff;

        &.cc-invisible {
            display: none;
        }
    }

    .cc-message {
        font-size: 13px; line-height:18px;
        text-align: center;
        display: block;

        a {
            color:$mainColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .cc-btn {
        display: inline-block;
        padding: 8px 24px 8px;
        background-color: $mainColor;
        cursor: pointer;
        border-radius: 34px;
        font: normal 14px/17px $font;
        transition: 0.6s background-color $easeOutExpo;
        margin-top: 5px;
        color: #fff;

        &:hover {
            background-color: $black;
            color: $mainColor;
        }
    }
}
