{% set links = [
    { id: 'content', label: 'skip.content' },
    { id: 'footer', label: 'skip.footer' },
]  %}

{% for link in links %}
    <a class="skip-link" href="#{{ link.id }}">{{ link.label|trans }}</a>
{% endfor %}
