/*
 * Styles for all pages
 */

:root {
    // each item in vars map
    @each $key, $value in $vars {
        --#{$key}: #{$value};
    }
}

::selection {
    @include var(background-color, black);
    @include var(color, white);
}

body {
    font: normal 14px/16px $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include var(color, black);
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

button {
    background: none;
    border: 0;
    outline: none;
}

#svg-sprite {
    display: none;
}

#main-container {
    position: relative;
    @include var(margin-top, nav-height);
}

@include media-breakpoint-up(sm) {
    #main-container {
        position: relative;
        @include var(margin-top, nav-height);
    }
}

// Table cell
.table {
    position: relative;
    display: table;
    width: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
