#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80vw;
    background: $white;
    z-index: 50;
    padding: 0;
    display: none;

    @include media-breakpoint-up(sm) {
        right: 0;
        bottom: initial;
        width: auto;
        height: $nav-height;
        transform: none;
        border-bottom: 1px solid #DADADA;
        display: block;

        #nav-container {
            height: $nav-height;
        }
    }
}

@include media-breakpoint-up(sm) {
    .navbar-toggleable-md .navbar-collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar-toggleable-md > .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar-toggleable-md .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.navbar-nav {
    padding: 80px 15px 10px;

    @include media-breakpoint-up(sm) {
        padding: 0;
    }
}
