.nav {
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80vw;
    padding: 0;
    display: none;
    @include var(background-color, white);

    @include media-breakpoint-only(xs) {
        transform: translateX(-80vw);
    }

    @include media-breakpoint-up(sm) {
        @include var(height, nav-height);

        right: 0;
        bottom: initial;
        width: auto;
        transform: none;
        border-bottom: 1px solid #dadada;
        display: block;

        #nav-container {
            @include var(height, nav-height);
        }
    }

    & > .container {
        display: flex;
        flex-flow: column;

        @include media-breakpoint-up(sm) {
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    & .nav-item:not(:last-child) .nav-link {
        @include media-breakpoint-up(sm) {
            padding-right: 10px;
        }
    }

    & .nav-item:not(:first-child) .nav-link {
        @include media-breakpoint-up(sm) {
            padding-left: 10px;
        }
    }
}

.nav-list {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 60px 0 0;
    list-style-type: none;

    @include media-breakpoint-up(sm) {
        flex-flow: row;
        padding-top: 0;
    }
}

.nav-btn {
    position: absolute;
    z-index: 57;
    top: 0;
    left: 0;
    width: 60px;
    cursor: pointer;
    @include var(height, nav-height);

    &__bar {
        position: absolute;
        width: 30px;
        height: 2px;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        @include var(background, black);
    }

    &__bar-1 {
        margin-top: -6px;
    }

    &__bar-3 {
        margin-top: 6px;
    }
}

.nav-overlay {
    position: fixed;
    z-index: 35;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @include var(background-color, black);
}
