{% extends head.ajax ? '@BaseTheme/base.ajax.twig' : '@BaseTheme/base.html.twig' %}

{% set classes = [
    'page-content',
] %}
{% if node.home %}
{% set classes = classes|merge(['home-content']) %}
{% endif %}
{% if head.ajax %}
{% set classes = classes|merge(['page-content-ajax']) %}
{% endif %}

{% block body_attributes %}class="error error-404" id="error-404" data-node-type="error404"{% endblock %}

{% block content %}
<section class="{{ classes|join(' ') }}"
         id="page-content-error-404"
         data-title="{% trans %}error404.title{% endtrans %}"
         data-node-type="error-404"
         data-meta-title="{% trans %}error404.title{% endtrans %}">

    <h1 class="page-title">{% trans %}error404.title{% endtrans %}</h1>
    <h2 class="page-subtitle">{% trans %}error404.message{% endtrans %}</h2>
    {% if head.devMode %}{{ errorMessage }}{% endif %}

</section>
{% endblock %}
