{% extends '@BaseTheme/pages/base.html.twig' %}

{% block body_attributes %}class="error error-404" id="error-404" data-node-type="error404"{% endblock %}

{% block header %}
    <header class="page-header">
        {% if headerImage %}
            <figure class="page-header-image">{{ headerImage|display(imageFormats.headerImage) }}</figure>
        {% endif %}
        <div class="container">
            <h1 class="page-title">{{ title }}</h1>
        </div>
    </header>
{% endblock %}

{% block inner_content %}
    <div class="container">
        {% if content %}<div class="page-text">{{ content|markdown }}</div>{% endif %}
        {% if head.devMode %}{{ errorMessage|trans }}{% endif %}
    </div>
{% endblock %}




