{% if themeServices.navigation|length %}
<nav class="navbar navbar-default" id="nav" data-active-node="{{ node.id }}">

	{#
	 #  Home with a node
	 #}
	{% if home %}
	{% set homeSource = home.nodeSources.first %}
	<a href="{{ homeSource|url }}" class="navbar-brand nav-link" id="nav-home">{{ homeSource.title }}</a>
	{% endif %}

	{#
	 # Main navigation
	 #}
	<ul class="nav navbar-nav" id="nav-list">
		{% for source in themeServices.navigation %}
			{% include '@BaseTheme/modules/nav-item.html.twig' with {
				'source' : source,
				'active' : node,
				'home' : home,
				'securityContext':securityContext,
				'themeServices':themeServices
			} only %}
		{% endfor %}
	</ul>
</nav>
{% endif %}
