{% if themeServices.navigation|length %}
<nav id="nav" data-active-node="{{ node.id }}">

	{#
	 #  Home with a node
	 #}
	{% if home %}
		<a href="{{ home.handler.url }}" class="nav-link" id="nav-home">{{ meta.siteName }}</a>
	{% endif %}

	{#
	 # Main navigation
	 #}
	<ul id="nav-list">
		{% for cnode in themeServices.navigation %}
			{% set source = cnode.nodeSources.first %}
			{% include 'modules/navigationElement.html.twig' with {
				"source" : source,
				"active" : node,
				'securityContext':securityContext,
				'themeServices':themeServices
			} only %}
		{% endfor %}
	</ul>
</nav>
{% endif %}
